.env
.venv/
__pycache__/
*.py[cod]
/Use case 7 - Safeguard your agents with AI Red Teaming Agent in Microsoft Foundry/Agentic red team lab.docx
/Use case 9 - Building Video Generation Workflows using Sora Model/Sora-2.docx
